ul{
 list-style: none;
}
body{
	background: url("../nvk_images/wood10.jpg");
	background-repeat: inherit;
}
a{
	font-weight: none;
	text-decoration:none;
	color: #4285F4;
}
fieldset{
	border :1px solid;
	border-radius:5px;
	padding:10px;
	margin: 30px 0px;
}
#menu .active{
	background: #fff;
	color: #000;
	border-radius: 5px;
}
#menu{
	float:left;
}
#menu ul{
	font-size:15px;
	font-weight: bold;
}
#menu ul li{
	float:left;
	position: relative;
	border: 1px solid #589700;
	border-radius: 5px;
	margin:0px 5px;
}
#menu ul li a{
	padding: 10px 15px;
	background: #589700;
	display:block;
	text-decoration:none;
	font-weight:bold;
	font-family: Arial "Time New Roman";
}

#menu ul li a:hover{
	background: #4285F4;
	color:#589700;
	border: 1px solid #4285F4;
	border-radius: 5px;
}

#main{
	margin: auto;
	width:900px;

}

#tang{
	margin:15px auto;
	border: 1px solid;
	border-radius:5px;
	height: auto;
	display: block;
	float: left;
	width:870px;
}
#tang h1{
	border-radius:5px;
	padding:10px 20px;
	font-weight: bold;
	font-size: 20px;
	color:#fff;
	background: #FE756A;
	text-align: center;
	width:300px;
}
#main fieldset{
	width:870px;
	padding: 15px 10px;
	font-weight:bold; }
#main fieldset select{width: 140px;}
#main fieldset table{margin:auto;}
#main fieldset table caption{
	color: #fff;
	font-size:25px;
}
#main fieldset legend{
	color: #fff;
	font-size:30px;
}
#main fieldset table td{
	padding:15px 30px;
	color:#FFC95F;font-size: 17px;
	font-weight:bold;
}
#tang ul{
	font-weight: bold;
	font-size: 18px;
}
#tang li{
	float:left;
	position: relative;
	border: 1px solid #4285F4;
	border-radius: 5px;
	margin: 10px;
	background: #4285f4;
	width:250px;
	text-align: center;
}
#tang ul li a{
	display:block;
	color:#fff;
	padding: 10px 30px;
}

#footer{
	text-align: center;
}
.user_name{
	color:#fff;
	font-size:18px;
	font-weight: bold;
}